/* div{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

h1{
  margin: 0;
}



.home-background{
  height: 100vh;
  background-image: url('./Abstract-Gradient-8.png');
  background-size: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-background{
  height: 100vh;
  background-image: url('./Abstract-Gradient-5.png');
  background-size: 100vw;
  text-align: center;
}

.projects-background{
  height: 100vh;
  background-image: url('./Abstract-Gradient-4.png');
  background-size: 100vw;
  text-align: center;
}

.contact-background{
  height: 100vh;
  background-image: url('./Abstract-Gradient-6.png');
  background-size: 100vw;
  text-align: center;
} */